ul { 
    display: inline;
    text-align: left;
    color: red;
    font-size: smaller;
    position: absolute;
    list-style: none
}

.ng-touched.ng-dirty.ng-invalid:not(form) { 
    background-color: pink;
}