h2 { 
    font-size: 50px;
}

ul { 
    width: 300px;
    text-align: left;
    font-size: x-large;
    padding-left: 10%;
}

h3 { 
    color: darkblue;
}

.carousel-caption { 
    text-align: center;
}

img { 
    border-radius: 10px;
    height: 400px;
}

